<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="port" value="8094" />
    <add key="addressType" value="loopback" />
    <add key="virtualRoot" value="/" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>